# Core
fastapi
uvicorn[standard]

# Authentication
PyJWT
passlib[bcrypt]
bcrypt=3.2.2
python-multipart

# Database
sqlalchemy
psycopg[binary]
alembic

# Config
pydantic[email]
pydantic-settings
python-dotenv

# Schedule Service
ortools